.file-list-entry {
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid lightgray;
}
.file-list-entry:last-child {
  border-bottom: 1px solid lightgray;
}
.onclick:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #808080;
}
.timestamp {
  font-size: 0.9em;
  color: gray;
}
@media only screen and (max-width: 991px) {
  .file-name {
    width: 200px;
    display: inline-block;
    overflow-y: scroll;
    white-space: nowrap;
  }

  .file-name::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}